* {
  /* box-sizing: border-box; */
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #f9f9fd;
}

textarea {
  resize: none;
}

.form {
  width: 600px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-field {
  outline: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-field input {
  margin: 0;
  padding: 6px 10px;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input::placeholder {
  color: blue;
}

.group {
}

.group-title {
  margin-top: 0;
  margin-bottom: 20px;
}
